@tailwind base;
@tailwind components;
@tailwind utilities;

#google_translate_element select:nth-child(2) {
    display: none;
}

#google_translate_element div:nth-child(2) {
    display: none;
}

#google_translate_element span {
    display: none;
}